// Place all the styles related to the api/friend_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#friend-request-div {
  position: absolute;
  top: 35px;
  right: 50px;
  min-height: 30px;
  width: 430px;
  background-color: white;
  border: 1px solid rgb(233, 234, 237);
  color: rgb(60, 90, 150);
  box-shadow: 0px 1px 1px lightgray;
  z-index: 2;
}

#friend-request-div::before {
  content: "";
  position: absolute;
  top: -22px;
  right: 9%;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent white transparent
}
.request-content {
  z-index: 5;
}
.request-content section {
  font-size: 12px;
  color: rgb(51, 51, 51);
  padding: 7.5px 10px;
  width: 110px;
}

.request-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid lightgrey;
}

#remove-friend-box {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100%;
  left: -155%;
  z-index: 1;
}

#accept-friend {
  margin-left: 140px;
  color: white;
  background-color: rgb(60, 90, 150);
  border-radius: 3px;
}

#accept-friend:hover {
  background-color: rgb(50, 80, 139);
}
#reject-friend {
  background-color: rgb(233, 234, 237);
  border-radius: 3px;
  margin-left: 5px;
  border-left: none;
}

#reject-friend:hover {
  background-color: rgb(217, 219, 223);
}

#request-img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-right: 10px;
}

