.nav-bar-bg {
  background-color: rgb(74, 120, 179);
  border-bottom: 1px solid rgb(35, 74, 122);
  width: 100vw;
  min-width: 1440px;
  height: 43px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.nav-cont {
  height: 43px;
  width: 100vw;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(74, 120, 179);
  height: 43px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

#nav-bar #logo {
  font-size: 26px;
  color: rgb(59, 106, 173);
  background-color: white;
  width: 22px;
  height: 24px;
  text-align: right;
  padding-right: 3px;
  border-radius: 2px;
  font-weight: bold;
}

#left-nav {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  align-items: center;
}

#left-nav .search-nav {
  margin-left: 10px;
  background: white;
  border-radius: 2px;
  height: 24px;
  width: 400px;
  padding-left: 3px;
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-nav i {
  color: rgb(153, 150, 150);
}


.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  min-width: 360px;
  margin-left: 175px;
}

.right-nav span {
  height: 25px;
  width: 25px;
  min-width: 25px;;
  background-color: black;
  border-radius: 100px;
  margin-right: 2px;
}
.right-nav img {
  height: 25px;
  width: 25px;
  border-radius: 100px;
}

.right-nav p {
  padding: 5px 10px 5px 5px;
  border-right: 1px solid rgb(53, 95, 155);
}

.right-nav button {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-left: 1px solid rgb(53, 95, 155);

}

.right-nav button:hover, .right-nav p:hover {
  background-color: rgb(53, 95, 155);
  border-radius: 6px;
}

.nav-icons {
  display: flex;
  padding: 3px 10px 5px 5px;
  font-size: 18px;
  min-width: 120px;
  justify-content: center;
  position: relative;
}

#messages-nav,
#notifications-nav {
  position: absolute;
  top: 35px;
  min-height: 30px;
  width: 430px;
  background-color: white;
  border: 1px solid rgb(233, 234, 237);
  color: rgb(51, 51, 51);
  box-shadow: 0px 1px 1px lightgray;
  z-index: 2;
  font-size: 10px;
  font-style: italic;
  padding: 10px 5px;
}

#messages-nav section,
#notifications-nav section {
  font-size: 12px;
  font-style: normal;
  padding-bottom: 7.5px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

#messages-nav {
  right: 15px;
}

#notifications-nav {
  right: 0px;
}

#messages-nav::before,
#notifications-nav::before {
  content: "";
  position: absolute;
  top: -22px;
  right: 9%;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent white transparent
}

#notifications-nav::before {
  right: 4%;
}

.nav-icons i {
  padding: 0px 10px;
  cursor: pointer;
  z-index: 3;
}

.nav-icons i:hover {
  cursor: pointer;
  color: rgb(53, 95, 155);
}

@media all and (max-width: 1000px) {
  #left-nav {
    margin-left: 15%;
  }
}