// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-page {
  width: 100vw;
  height: 100%;
  margin-top: 43px;
  background-color: rgb(237, 240, 245);
  min-height: 100vh;
  min-width: 1440px;
}

.user-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  margin-left: 20%;
  width: 900px;
}

.cover-photo {
  width: 100%;
  height: 300px;
  background-color: grey;
  border: 1px solid black;
  position: relative;
}

.cover-photo img {
  width: 900px;
  height: 300px;
  object-fit: cover;
  
}


.friend-button {
  padding: 6px;
  position: absolute;
  right: 0;
  margin-top: -40px;
  border: 1px solid lightgrey;
  margin-right: 135px;
  background: white;
  border-radius: 2px;

}

.message-button {
  padding: 6px 12px;
  position: absolute;
  margin-top: -40px;
  border: 1px solid lightgrey;
  margin-left: 770px;
  background: white;
  border-radius: 2px;
}

.friend-button i,
.message-button i {
  margin-right: 3px;
}

.edit-prof-button {
  padding: 6px;
  position: absolute;
  margin-top: -40px;
  border-radius: 2px;
  margin-left: 750px;
  background: white;
  font-weight: 200;
  text-align: center;
}

.profile-name {
  position: absolute;
  margin-left: 200px;
  margin-top: -40px;
  color: white;
  font-size: 22px;
  z-index: 3;
}

.profile-pic {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 5px solid white;
  border-radius: 100px;
  margin-top: -135px;
  margin-left: 15px;
  background-color: white;
  box-shadow: 0px 2px 2px lightgray;
  align-content: center;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  overflow: hidden;

}

.profile-nav {
  width: 100%;
  border: 1px solid rgb(233, 234, 237);
  background-color: white;
  font-size: 14px;
  color: rgb(52, 87, 150);
  margin-bottom: 10px;
}
.profile-nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.profile-nav li {
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 500;
  border-right: 1px solid rgb(233, 234, 237);
}

.user-nav-first {
  border-left: 1px solid rgb(233, 234, 237);
}

.profile-nav li:hover {
  background-color: rgb(245, 246, 247);
}

.disabled-nav:hover {
  cursor: not-allowed;
}

.profile-content {
  display: flex;
  flex-direction: row;
}
.pc-left {
  width: 39%;
  font-weight: 100;
  position: relative;
}


.pc-left-about,
.pc-left-photos,
.pc-left-friends {
  width: 100%;
  // height: 270px;
  border: 1px solid rgb(233, 234, 237);
  background-color: white;
  padding: 13px 15px;
  margin-bottom: 10px;
}

.pc-left-photos {
  max-height: 375px;

}

.pc-left-friends {
  max-height: 375px;

}

.pc-right {
  width: 60%;
  margin-left: 5%;
}

.profile-post-form {
  width: 100%;
  height: 175px;
  border: 1px solid rgb(233, 234, 237);
  background-color: white;
}

#current-tab {
  color: rgb(75, 79, 85);
  position: relative;
  cursor: default;
}

#current-tab:hover {
  background-color: white;
}

#current-tab::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 40%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgb(237, 240, 245) transparent
}

.user-about,
.user-friend,
.user-photo {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border: 1px solid rgb(233, 234, 237);
  background-color: white;
  margin-bottom: 50px;
}
.not-friends {
  width: 900px;
  height: 100px;
  border: 1px solid rgb(233, 234, 237);
  background-color: white;
  font-size: 12px;
  margin-bottom: 15px;
}

.not-friends-bottom {
  padding: 10px;
}

.user-about p,
.user-friend p,
.user-photo p,
.not-friends p {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 97.7%;
  border: 1px solid rgb(233, 234, 237);
  background-color: rgb(245, 246, 247);
  color: rgb(75, 79, 86);
  font-weight: bolder;
  font-size: 20px;
}

.not-friends p {
  font-size: 12px;
}

.user-about img,
.user-friend img,
.user-photo img {
  margin-right: 5px;
}

.pc-left-about .fa-info-circle {
  background-color: rgb(60, 90, 150);
  border: 5px solid rgb(60, 90, 150);
  color: white;
  border-radius: 100px;
  margin-right: 8px;
}

.pc-left-photos i {
  background-color: rgb(176, 214, 101);
  border: 5px solid rgb(176, 214, 101);
  color: white;
  border-radius: 100px;
  margin-right: 8px;
}

.pc-left-friends i {
  background-color: rgb(226, 54, 108);
  border: 5px solid rgb(226, 54, 108);
  color: white;
  border-radius: 100px;
  margin-right: 8px;
  padding: 2px 0px;
}

.about-bio {
  height: 40px;
  text-align: center;
  padding-top: 5%;
  font-size: 14px;
}

.intro-about {
  margin-top: 10px;
  font-size: 12px;
}

.intro-about section {
  padding: 5px 0px;
}

.intro-about i {
  padding-right: 5px;
}

.fa-map-marker-alt {
  padding-left: 2px;
  margin-right: 2px;
}

.private-dot {
  position: absolute;
  top: 20px;
  left: 650px;
  color: rgb(161, 177, 202);
}