.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  height: 305px;
}

.tab-header {
  width: 28%;
  height: 100%;
  border-right: 1px solid rgb(233, 234, 237);
  color: rgb(144, 148, 156);
  
}

.tab-header li {
  margin: 30px 20px;
  cursor: pointer;
}

.tab-header li:hover {
  color: black;
}

.active {
  color: black;
  text-decoration: underline solid rgb(60, 90, 150);
  // border-left: 2px solid rgb(60, 90, 150);
  // margin-left: 0;

}

.tab-content {
  width: 70%;

}

.a-overview,
.a-wande {
  padding: 10px 30px 30px 30px;
}

.a-overview div{
  padding: 30px;
  border-bottom: 1px solid lightgrey;
}

.a-overview span {
  color: rgb(73, 109, 160);
}

.a-wande section {
  display: flex;
  flex-direction: column;
  margin: 35px 10px;
}

.a-wande span,
.a-contact .a-title {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(144, 148, 156);
  border-bottom: 1px solid lightgray;
}

.a-wande .a-sub-content {
  color: rgb(73, 109, 160);
  padding-top: 15px;
}

.a-contact {
  padding: 0px 40px;
  font-size: 13px;
}

.a-contact .a-sub-content{
  padding-top: 15px;
}

.a-outer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 200px;
}

.a-outer-div span {
  color: rgb(144, 148, 156);
  margin: 15px 0px;
}
.a-contact .a-title {
  padding-top: 35px;
}

.about-bottom-edit {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  height: 100%;
}

.tab-header-edit {
  width: 28%;
  height: 100%;
  color: rgb(144, 148, 156);
  margin: 20px 0px 0px 20px;
  
}

.edit-profile-form {
  padding: 5px 30px 30px 30px;
  border-left: 1px solid rgb(233, 234, 237);
  font-size: 12px;
}

.edit-profile-form section {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 25px;
  color: black;
}

.edit-profile-form input,
.edit-profile-form textarea {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  border-bottom: 1px solid lightgray;
  color: rgb(144, 148, 156);
}

.edit-profile-form input[type="submit"] {
  width: 100px;
  margin: 40px 0px 10px 430px;
  text-align: center;
  color: white;
  padding: 3px;
  background-color: rgb(74, 120, 179);
  border: 1px solid rgb(35, 74, 122);
}

.edit-profile-form textarea {
  padding-top: 25px; 
}